{% load static %}

{% block content %}

<div class="downloads-container">
    {% for species in species_list %}

    {% if species.dataset %}

    <div class="downloads-column">
        <div class="download">
            <div class="download-species-label">
                <p class="sci-name">{{ species }}</p>
                <p class="common-name">({{ species.common_name }})</p>
            </div>
            <div class="download-info">
                <div class="download-inner-column">
                    <img class="species-icon" src="{{ species.icon.url }}" />
                </div>
                <div class="download-inner-column">
                    {% if species.dataset.cDNA_data %}
                    <a href="{{ species.dataset.cDNA_data.url }}">cDNA fasta</a><br/>
                    {% endif %}
                    {% if species.dataset.siRNA_data %}
                    <a href="{{ species.dataset.siRNA_data.url }}">siRNA fasta</a><br/>
                    {% endif %}
                    {% if species.dataset.ncRNA_data %}
                    <a href="{{ species.dataset.ncRNA_data.url }}">ncRNA fasta</a><br/>
                    {% endif %}
                    {% if species.dataset.genome_data %}
                    <a href="{{ species.dataset.genome_data.url }}">genome fasta</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% endfor %}
</div>

{% endblock %}